/* Write your code here: */
h1, h2{
    color: blueviolet;
}

.box > p{
    color: firebrick;
}

.box li{
    color: salmon;
}

li.done{
    color: turquoise;
}

ul p.done{
    color: cornflowerblue;
    font-size: 0.5rem;
}

